* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
    font-family: 'Open Sans' , sans-serif;
	
}

a {
    text-decoration: none;
}

/* ancho web y margenes laterales */

.container {
    border-radius: 50%;
   width: 90%; 
   max-width: 1100px;
   margin: auto;
   
}

/* contenedor punta curvas, se aplica estilos con ID # (no se puede repetir en una misma pagina)*/


/* Color Parrafos */
p {
  color: rgb(3, 2, 2);
}

/* Master Class */
.profile-image {
  border-radius: 50%;
  width: 36%;
  max-width: 142px;
  height: 36%;
  max-height: 142px;
  margin-top: -100px;
  margin-left: -15px;
  z-index: 1;
  
  
  }

.img-fluid {
    border-radius: 25px;
    margin-top: 5px;
    max-width: 100%;
    max-height: 100%;
    height: 200 px;
    weight: 200 px;

}
.mat-card {
  border-radius: 25px;
  margin: 10px 10px;
  padding: 20px;
  border-color: #0a66c2;
}

.mat-card#first-card {
  padding: 0;
}

#borde {
  background-color: rgb(153, 152, 152);
	border-radius: 25px;
  margin-top: 5px;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:auto;
	border: 2px solid rgb(51, 51, 51);
	
}

#info-accion{
  margin-bottom: 5px;
}
.container3{
  border-radius: 50%;
   width: 90%; 
   max-width: 1100px;
   margin: auto;
   padding:auto;
}
  #lapiz{
   width: 5px;
   height: 5px;
    
  }
#lapiz:hover{
  color: black;
}
